.main-slider {
    position: relative;
}

.main-slider_img {
    width: 100%;
}

.popular-categories,
.news {
    margin-top: 30px;
}

.popular-categories_title,
.news-title,
.tech-title,
.recommendation-title {
    color: var(--gray-02);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.popular-categories_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular-categories_cards-item {
    width: calc(100% / 6 - 30px);
    height: 204px;
    background-color: var(--gray-05);
    border-radius: 20px;
    color: var(--gray-01);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    padding: 24px 0;
}

.popular-categories_cards-item:hover {
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--orange);
}

.popular-categories_cards-item_title {
    width: 170px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.news {
    position: relative;
}

.news-top {
    display: flex;
    justify-content: space-between;
}

.news-btn {
    width: 166px;
    height: 44px;
    color: var(--orange-02);
    background-color: var(--gray-05);
    border: 1px solid var(--orange-02);
}

.news-btn:hover {
    background-color: var(--gray-08);
}

.news-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.news-cards-item {
    width: calc(100% / 3 - 30px);
    height: 387px;
    position: relative;
    color: var(--gray-02);
}

.news-cards-item:hover {
    cursor: pointer;
    color: var(--orange-02);
}

.news-cards-item_title {
    width: 360px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 12px;
}

.news-date {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--gray-07);
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.news-cards-item_img {
    width: 100%;
}

.news-label {
    width: 90px;
    height: 30px;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 15px;
    top: 14px;
    padding: 7px 16px;
    border-radius: 8px;
    background-color: var(--orange);
}

.slider-btn-left,
.slider-btn-right {
    width: 33px;
    cursor: pointer;
    border-radius: 50%;

    width: 35px;
    height: 34px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-position: center;
    position: absolute;
}

.slider-btn-left {
    background-image: url(../img/icons/btn-slide-left.svg);
    top: 174px;
    left: 15px;
}

.slider-btn-right {
    background-image: url(../img/icons/btn-slide-right.svg);
    top: 174px;
    right: 15px;
}

.slider-btn-left:hover,
.slider-btn-right:hover {
    background-color: var(--orange);
}

.banner {
    margin: 60px 0;
}

.tech-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tech-cards-item {
    width: calc(100% / 7 - 33px);
    height: 204px;
    border-radius: 20px;
    background-color: var(--gray-05);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray-01);
}

.tech-cards-item:hover {
    cursor: pointer;
    color: var(--orange-02);
    border: 1px solid var(--orange-02);
}

.tech-cards-item-text {
    position: absolute;
    bottom: 18px;
    font-size: 18px;
    font-weight: bold;
}

.recommendation {
    margin-top: 60px;
}

.recommendation-cards {
    display: flex;
    justify-content: space-between;
}

.recommendation-cards-item {
    width: calc((100% / 6) - 30px);
    position: relative;
}

.recommendation-cards-item-img {
    width: 100%;
}

.recommendation-cards-item-price {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
}

.recommendation-cards-item-price:hover,
.recommendation-cards-item-description:hover {
    color: var(--orange-02);
    cursor: pointer;
}

.recommendation-cards-item-price-small {
    font-size: 15px;
    font-weight: 500;
    color: var(--gray-07);
}

.recommendation-cards-item-description {
    width: 100%;
    font-size: 14px;
    color: var(--gray-04);
    margin-bottom: 8px;
}

.cat-num {
    font-size: 14px;
    color: var(--gray-01);
    margin-bottom: 20px;
}

.cat-num-num {
    font-weight: bold;
}

.recommendation-cards-item-btn {
    width: 100%;
    height: 44px;
    font-size: 16px;
    color: white;
    background-color: var(--orange);
}

.recommendation-cards-item-label {
    width: 67px;
    height: 30px;
    color: white;
    font-size: 14px;
    background-color: #FF0000;
    border-radius: 8px;
    padding: 7px 12px;
    position: absolute;
    top: 0;
    left: 0;
}